@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap');

$colors: (
        "background-purple": rgb(26,23,61),
        "purple": rgb(81,51,166),
        "orange": rgb(226,83,0),
        "light-orange": rgb(255,93,0),
        "white": rgb(255,255,255),
        "background-light-purple": rgb(133, 100, 187),
        "background-light-orange":  rgb(245, 194, 146)
);

$background-purple-gradient: linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
$background-orange-gradient:  radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}


*:focus {
  outline: none;
}

body {
  font: {
    family: "Ubuntu", sans-serif;;
    size: 16px;
    weight: 400;
  };
  width: 100%;
  height: max-content;
  padding: 40px;
  box-sizing: border-box;
  background-color: map-get($colors, "background-purple");
  color: aliceblue;
}

a {
  text-decoration: none;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin-top: 88px;
}

.title {
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
}

@media all and (min-width: 768px) {
  .container {
    margin-top: 40px;
  }

}










