@import "base";

.btn {
  font-family: "Righteous", sans-serif;
  font-size: 1rem;
  min-width: 130px;
  max-height: 40px;
  padding: 10px 16px;
  background-color: unset;
  box-sizing: border-box;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.orange-btn {
  color: map-get($colors, "white");
  background-color: map-get($colors, "orange");
  border: unset;

  &:hover {
    background-color: map-get($colors, "light-orange");
  }
}

.white-btn {
  border: 1px map-get($colors, "orange") solid;
  color: map-get($colors, "orange");

  &:hover {
    border-color: map-get($colors, "white");
    color: map-get($colors, "white");

    &::after {
      content: "\2192";
      padding-left: 5px;
    }
  }
}